{% extends 'base.html' %}

{% block title %} All Courses{% endblock title%}

{% block content %}
<div>
    <h3>Таблица курсов:</h3>
    <table class="table thead-light">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">teacher</th>
            <th scope="col">date</th>

        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            <th scope="row">{{course.id}}</th>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.teacher }}</td>
            <td>{{ course.date }}</td>

        </tr>
        {%endfor%}
        </tbody>
    </table>

</div>
{% endblock content %}
